#header, #footer {
  background-color: yellow;
  padding: 20px;
}

body {
background-color: #ffff99;
}

h1 {
  text-align: center;
}
h3 {
  padding: 15px;
  color: red;
}
#subtitle{
  text-align: center;
}

#text_container {
  padding: 20px;
  background-color: #ffcc66;
}

a {
  font-family: fantasy;
  font-size: 2em;
}

li {
  font-size: 2em;
  font-family:sans-serif;

img {
  display:block;
  margin: auto;
  width: 25%;
  height: 25%;
}
p {

}
